
/** Body and shit **/

* {
	box-sizing: border-box;
	text-decoration: none;
}

.lavartiabg {
	background-image: url("dalol.png");
	background-size: 100%;
}

body {
	margin: 5em 0em 0em 0em;
	padding: 0em;
	color: wheat;
	background-color: darkorange;
	background-image: url("suncopy.png");
	background-attachment: fixed;
	width: 83em;
	height: 80em;
	font-family: "Comfortaa";
}

/** heading experiment **/
.heading {
	border: .5em solid sienna;
	border-radius: 1em;
	width: 55em;
	height: 4em;
	margin: 0 auto 0 auto;
	background-color: maroon;
}

.bg {

	border: .5em solid sienna;
	border-radius: 1em;
	width: 55em;
	height: 45em;
	margin: 2em auto 2em auto;
	padding: 2em;
	background-color: maroon;
}

/** Text formatting general **/

p {
	text-align: center;
}

.quote {
	font-family: "Freckle Face";
	border: 1px dashed #F15432;
	border-radius: 3em;
	overflow-y: scroll;
	margin-top: 2em;
	padding: 1em;
	text-align: center;
	color: #FFF;
	height: 10em;
	background-color: #F15432;
}


/** General links **/
a:link, a:visited {
	color: darkred;
}

a:hover {
	color: darkgreen;
}

a:active {
	color: darkblue;
}

/** Header Formatting **/

h1 {
	color: brown;
	font-size: 2.5em;
	text-align: center;
	font-family: "Barrio";
	text-decoration: none;
	
		/** h1 experiment **/
		line-height: 0;
}

h1:hover {
	color: goldenrod;
}

.lavartia-title {
	font-family: "Barrio";
}

h2 {
	background-color: yellow;
	color: #0277BD;
	text-align: center;
	border: 0.05em solid orange;
	font-family: "Barrio";
}

h2:hover {
	background-color: white;
	color: #0277BD;
}

h3 {
	font-family: "Comfortaa";
	color: navajowhite;
}


/** Sitemap Formatting **/

.sitemap  li {
	list-style: none;	
	font-family: "Righteous";
}
.sitemap a:link, .sitemap a:visited {
	text-decoration: none;
	background-color: tan;
	border: 0.05em solid brown;
	border-radius: 1em;
	color: black;
	display: block;
	width: 18em;
	height: 1.19em;
	text-align: center;
	margin-bottom: 0.05em;
}

.sitemap a:hover, .sitemap a:active {
	background-color: goldenrod;
	color: darkred;
	font-weight: bold;
}

/** Footer Formatting **/

footer {
	margin-top: 3em;
	text-align: center;
	font-family: "Comfortaa";
	font-size: .8em;
}

footer li {
	font-family: "Righteous";
	list-style: none;
	display: inline;
	background-color: #0277BD;
	border: 0.05em solid #01579B;
	color: black;	
	margin: 0em 0.3em 0em 0.3em;
	width: 75em;
	height: 10em;
	font-size: 1.3em;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: black;	
	}

footer a:hover, footer a:active {
		background-color: aliceblue;
		color: #0277BD;	
	}
	
	/** footing experiment **/
	.footing {
		border: .5em solid sienna;
		border-radius: 1em;
		width: 68.9em;
		height: 6em;
		margin: 0 auto 0 auto;
		background-color: maroon;	
	}
	
/** Music Experiment **/



/** Chris' Rotating Face Experiment (in Frazz) **/

img.chrisoo {
	height: 15em;
	width: 15em;
	border-radius: 50%;
	border: solid yellow .5em;
	transition: all .5s;
}

img.chrisoo:hover {
	transform: scale(3) rotate(1800deg);
	border: solid lime .5em;
}

.grovel {
	background-color: #d14729; 
	border-radius: 3em;
	padding: 0.5em;
}
